.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://r-xx.bstatic.com/xdata/images/xphoto/2880x1116/208091804.jpg?k=94914d07b33a5650107203923da2a2c0343e87e4719d6370ffec26b1d04d2ade&o='),
    linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.headerListItem:hover {
  border: 1px solid white;
  padding: 8px;
  border-radius: 15px;
}

.headerListItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 15px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: #0071c2;
  color: white;
  padding: 10px;
  font-weight: 600;
  font-size: large;
  border: none;
  cursor: pointer;
}

.headerBtnLink {
  text-decoration: none;
  color: #ffffff;
}

.headerBtnSearch {
  background-color: #0071c2;
  color: white;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  position: absolute;
  z-index: 2;
  top: 50px;
  background-color: white;
  color: grey;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
